body{
  margin:0;
  text-align: center;  /*will align everything to center*/
  font-family: 'Merriweather', serif;  /*fonts are taken from font.google.com,check [internal css,chapter 10]*/
}


h1{

  color: #66BFBF;
  /* line-height: 2; /*1 is default, 2 is double of default*/
  margin: 50 auto 0 auto;
  font-family: 'Sacramento', cursive;
   /*  font-size: 90px; its better to choose font size in percent becasue it will make changes according to the screen
                      so 100% is equal to 16px,likewise 90 px will be 562.5%
                    also 1em=16px=100%  bt em and % gets add up if you define font size in body and h1 */
    font-size: 562.5%;          /*or 5.625em*/
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;  /*40px*/
font-weight: normal;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
  color: #40514E;
}

a{
  color: #11999E;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;    /*this will remove the underline of anchor tags*/

}
a:hover{
  color: #EAF6F6;
}

.profile-picture{
  width: 25%;
  border-radius: 50%;
}

.coding-picture{
  width: 25%;
  margin-right: 30px;
  float: left;    /*its always better to use relative and absolute positioning,avoid float*/
border-radius: 50%;
}

.logo-picture{
  width: 25%;
  margin-left: 30px;
  float: right;
border-radius: 50%;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.top-cloud{
  width: 300px;
  height: 150px;
  position: absolute;    /*absolute to top container so that we can change position*/
  top: 10px;
  right: 150px;
}

.bottom-cloud{
  width: 300px;
  height: 150px;
  position: absolute;
  left: 30px;

}

.mountain{
  width: 1200px;
  height: 400px;
}

.copywrite-text{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro{
  width: 30%;  /*30% of the screen*/
  margin: 20px auto;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
margin: 100px 0;  /* shorthand for 100px for top and bottom and 0px for left nd right*/
}

.bottom-container{
background-color: #66BFBF;
padding : 50px 0 20px;
}

.contact-msg{
  margin: 40px auto 60px;
}

hr{

  border-style: none;
  border-top: dotted;
  border-color:grey;
  border-width: 5px;
  width: 5%;  </*30% of the total width of the page*/>
  margin: 100px auto; /*auto centers the text*/
}


@media (max-width:1080px){
  body{
    width: 1280px;
  }
  h2{
    font-size: 4rem;
  }
  h3{
    font-size: x-large;
  }
  p{
    font-size: large;
  }
  a{
    font-size: 2rem;
  }
  .intro{
    font-size: 2rem;
    width: 40%;
  }

  .skill-image{
width: 35%
  }

  .skill-row{
    width: 50%;
    margin: 100px auto 200px auto;
    line-height: 2;
}

.button{
  font-size: 30px;
}

.bottom-container{
  padding: 60px 0px 30px;
}
.copywrite-text{
  font-size: 1.2rem;
}

}


.button {                      /*this button is properties are taken from css3 button generator*/
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF !important;
  font-size: 20px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #63B8EE;
  background: linear-gradient(top,  #11CDD4,  #11999E);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999E);
}
.button:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2bc4ad);
  background: -ms-linear-gradient(top,  #30E3CB,  #2bc4ad);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2bc4ad));
  background: -moz-linear-gradient(top,  #30E3CB,  #2bc4ad);
}
